extends layout

block content
  div.content-header
    h2= archive.sub_title
  div.content-body
    - each article in posts.list
      div.article-preview
        h3
          a(href='/p/' + article.path, target='_blank')= article.title
        div.article-preview-content !{article.preview}
        div.article-preview-footer
          span.ink-label.info= article.date
