footer.container#footer-bar
  p Hyde
    | | Powered by 
    a(href='http://www.nodejs.org', target='_blank') Node.js
    | , 
    a(href='http://www.expressjs.com', target='_blank') Express
    |  and 
    a(href='http://ink.sapo.pt', target='_blank') InK