extends layout

block content
  div.content-header
    h2= title
  div.content-body
    div.article-list
      ul
      - each article in articles
        li
        a(href='/p/' + article.path)= article.title
      
      